@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');
* {
    background-color: lightsteelblue;
}
.title {
    margin-top: 4rem;
    font-size: 5.5rem;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}
#info{
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Grenze Gotisch', cursive;
}
#aboutme{
    margin-top: 30rem;
}

#content {
    margin-left: 2rem;
    margin-right: 2rem;
}
#career {
    margin-top: 17rem;
}
#activity {
    margin-top: 17rem;
}
#project {
    margin-top: 17rem;
}
#sns {
    margin-top: 17rem;
}

.subject {
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}

.detail {
    font-size: 1.4rem;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

nav {
    text-align: center;
    margin-top: 3rem;
    margin-bottom:3rem;

}
nav a{
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2rem;

}
p {
    margin: 0.5rem;
}